
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    z-index: 10;
    position: relative;
    font-family: 'Poppins', sans-serif;
    /* color: white; */
}

#home {
    height: 100vh;
    background: url(assets/Images/bg.jpg)center center;
    background-size:cover;
    position: relative;

}

/* #home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;    
} */
nav ul :last-child{
   /* margin: 0 15px; */
}
#home .black {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.65;
    z-index: 1;
}

#home nav {
    position: relative;
    width: 80%;
    margin:  auto;
    padding: 20px;
    z-index: 10;

}

#home nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#logo {
    height: 2.5rem; 
}
#dropdown{
    padding: 4px 20px;
    background: #00000029;
    color: white;
    font-size: 0.9rem;
    border: 1px solid #717171;
    border-radius: 4px;
}
#dropdown:hover{
    box-shadow: 0px 0px 0px 2px white;
    cursor: pointer;
}
.main{
    width: 80%;
    margin: auto;
    /* background-color: black; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.main div{
    color: white;
    font-size: 1.2rem;
    padding: 10px 0px;
    font-weight: lighter;
    text-align: center;
}
.main :first-child{
    font-size: 2.5rem;
    font-weight: bolder;
}
.main:last-child{
    display: flex;
    justify-content: center;
}
#loginbox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loginbox input{
    padding: 20px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.265);
    width: 40%;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 0px 10px;
    /* height: 25%; */
}
.btn-red{
    background-color: red;
    color: white;
    padding: 15px 10px;
    font-size: 1.3rem;
    /* font-weight: bold; */
    /* height: 100%; */
    width: 20%;
    border-radius: 6px;
    border: transparent;
    cursor: pointer;
}
.btn-red-sml{
    background-color: red;
    color: white;
    padding: 5px 15px;
    font-size: 0.9rem;
    font-weight: lighter;
    /* width: 30%; */
    border-radius: 6px;
    border: transparent;
    cursor: pointer;
}
.btn-red:hover, .btn-red-sml:hover{
    background-color: rgb(204, 1, 1);
}
.line{
    height: 0.5rem;
    background-color: rgb(35,35,35);
}
/* ------------------------------------------------------------------------------------ */
.bgblack{
    background-color: black;
}
.scroll-1{
    min-height: 80vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    color: white;
    padding: 20px 80px;
}
.content{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
/* .content img{
    position: absolute;
    top: 0;
} */
.content video{
    position: absolute;
    width: 78%;
    z-index: 9;
    
}
.h1{
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    margin: 15px 0;
    color: white;

}
.h2{
    font-size: 1.1rem;
    color: white;

}
.content-2{
    display: flex;
justify-content: center;
}
#vid2{
    position: absolute;
    width: 62%;
    top: 10%;
    z-index: 9;
}
#QNA{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
   
    
}
.box{
    background-color: rgb(45 45 45);
    /* width: 100%; */
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    cursor: pointer;
}

.ans{
    background-color: rgb(45 45 45);
    /* width: 100%; */
    padding: 20px 15px;
    font-size: 1.2rem;
    display: none;
    transition: all 1s ease-in-out;
}
.active{
    display: block;
    transition: all 1s ease-in-out;

}
.activate{
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}
.block{
    display: block;
}
.box:hover{
    background-color: rgba(128, 128, 128, 0.51);
}
.box>span{
    font-size: 1.5rem;
}
.loginbox{
    padding: 50px 0px;
    display:flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 10px;
}
.inputs{
    display: flex;
    justify-content: center;
    gap: 5px;
  width: 100%;
}
.inputs input{
    width: 30%;
    background-color: transparent;
    padding: 10px 5px;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 5px;
}
footer{
    padding: 70px 0;
    
}
.footer{
    padding: 50px auto;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.2rem;
  color: rgba(255, 255, 255, 0.772);
}
.footer-list{
    width: 100%;
}
footer .footer-list ul{
    
 list-style: none;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 5px;
    text-decoration: underline;
    font-weight: 100;
}

/* ---------------------------------------------------------------------------------- */

@media screen and (max-width:1000px){
    #home nav{
        width: 90%;
        
    }
    #logo{
        height: 1.5rem;
    }
    #home nav ul{
        justify-content: space-between;
    }
    .main div{
        font-size: 0.8rem;
    }
    .main :first-child{
        font-size: 1.8rem;
    }
    .btn-red{
        font-size: 1rem;
        width: 25%;
    }
    .content-2 img{
        width: 100%;
    }
#home{
    max-height: 60vh;
}
.scroll-1{
    min-height: 50vh;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
}
.text{
    margin: 10px 0;
    text-align: center;
}
.col-rev{
    flex-direction: column-reverse;
}
.h1{
    font-size: 1.5rem;
    text-align: center;
}
.h2{
font-size: 0.8rem;
text-align: center;
}
.content img{
    width: 80%;
}
.content-2 {
    width: 70%;
}
}

@media screen and (max-width:800px){
  
    #logo{
        height: 1.5rem;
    }
    #home nav ul{
        justify-content: space-between;
    }
    .main div{
        font-size: 1rem;
    }
    .main :first-child{
        font-size: 1.5rem;
    }
    .btn-red{
        font-size: 0.8rem;
        width: 37%;
    }
    #loginbox{
        flex-direction: column;
        justify-content: space-evenly;
        /* height: 40%; */
    }
    .inputs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* height: 40%; */
    }
    .inputs input{
        width: 70%;
    }
    #loginbox input{
        width: 80%;
        padding: 8px 10px;
        margin: 10px;
        height: 20%;
    }
    .box{
        padding: 8px;
    }
    .box>span{
        
        font-size: 1rem;
    }
    footer .footer-list ul{
        grid-template-columns: repeat(2,1fr);
        font-size: 0.8rem;
    }
    .scroll-1{
        padding: 0;
    }
    .ans{
        font-size: 0.8rem;
    }
    
}

@media screen and (max-width:1200px) and (min-width:1000px){
    #home{
        height: 70vh;
    }
    .scroll-1{
        min-height: 50vh;
    
    }
    .h1{
        font-size: 2.5rem;
    }
    .content img{
        width: 100%;
        /* object-fit: contain; */
    }
    .content-2 img{
        width: 100%;
    }
}